In [1]:
import pandas as pd

### IMDB 2000-2024 movies

Original scraped data

In [2]:
data = pd.read_csv(r'C:\Users\Thibaut\Documents\SIMPLON\DEV-IA\BOXOFFICE\scraping\data\imdb_movies.csv')
data.shape

(11140, 19)

In [3]:
data.columns

Index(['movie_boxoffice', 'movie_budget', 'movie_cast', 'movie_categories',
       'movie_countries', 'movie_director', 'movie_id', 'movie_imdb_metascore',
       'movie_imdb_nb_of_ratings', 'movie_imdb_popularity',
       'movie_imdb_rating', 'movie_length', 'movie_original_title',
       'movie_production_companies', 'movie_synopsis', 'movie_title',
       'movie_url', 'movie_us_boxoffice', 'year'],
      dtype='object')

Keep only data with BoxOffice values

In [4]:
boxoffice = data.copy()
boxoffice = boxoffice.query('movie_boxoffice.isna() == False')
boxoffice.shape

(4611, 19)

In [5]:
boxoffice.sample(1)

,movie_boxoffice,movie_budget,movie_cast,movie_categories,movie_countries,movie_director,movie_id,movie_imdb_metascore,movie_imdb_nb_of_ratings,movie_imdb_popularity,movie_imdb_rating,movie_length,movie_original_title,movie_production_companies,movie_synopsis,movie_title,movie_url,movie_us_boxoffice,year
9881,24362772.0,25000000.0,Madonna|Rupert Everett|Benjamin Bratt|Illeana ...,Comedy|Drama|Romance,United States,John Schlesinger,tt0156841,25.0,12000.0,NaN,4.7,108.0,NaN,Lakeshore Entertainment|Paramount Pictures,"Abbie, tired of failed relationships, has a on...",The Next Best Thing,https://m.imdb.com/title/tt0156841/,14990582.0,2000.0

Keep only data with BoxOffice & Budget values

In [6]:
boxoffice = data.copy()
boxoffice = boxoffice.query('movie_boxoffice.isna() == False and movie_budget.isna() == False')
boxoffice.shape

(1733, 19)

### IMDB Upcoming movies (2024-2025)

### IMDB Awards (Oscars, Golden Globes)

Original scraped data

In [7]:
oscars = pd.read_csv(r"C:\Users\Thibaut\Documents\SIMPLON\DEV-IA\BOXOFFICE\scraping\data\imdb_oscars.csv")
oscars.shape

(25, 4)

In [8]:
oscars 

['Crash', 'Brokeback Mountain', 'Capote'], ['Kevin Spacey', 'Denzel Washington'], ['Russell Crowe', 'Ed Harris', 'Geoffrey Rush']

,categories,url,winners,year
0,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2005/1,"['Million Dollar Baby', 'Finding Neverland', '...",2005
1,"'Best Actor in a Leading Role', 'Best Actor in...",https://www.imdb.com/event/ev0000003/2001/1,"['Russell Crowe', 'Ed Harris', 'Geoffrey Rush'...",2001
2,"'Best Picture', 'Best Actor in a Leading Role'...",https://www.imdb.com/event/ev0000003/2004/1,['The Lord of the Rings: The Return of the Kin...,2004
3,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2006/1,"['Crash', 'Brokeback Mountain', 'Capote', 'Goo...",2006
4,"'Best Actor in a Leading Role', 'Best Actor in...",https://www.imdb.com/event/ev0000003/2000/1,"['Kevin Spacey', 'Denzel Washington', 'Richard...",2000
5,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2007/1,"['The Departed', 'Babel', 'Letters from Iwo Ji...",2007
6,"'Best Picture', 'Best Actor in a Leading Role'...",https://www.imdb.com/event/ev0000003/2002/1,"['A Beautiful Mind', 'Gosford Park', 'In the B...",2002
7,"'Best Picture', 'Best Actor in a Leading Role'...",https://www.imdb.com/event/ev0000003/2003/1,"['Chicago', 'Gangs of New York', 'The Hours', ...",2003
8,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2009/1,"['Slumdog Millionaire', 'Frost/Nixon', 'Milk',...",2009
9,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2008/1,"['No Country for Old Men', 'Atonement', 'Juno'...",2008
10,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2015/1,['Birdman or (The Unexpected Virtue of Ignoran...,2015
11,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2010/1,"['The Hurt Locker', 'A Serious Man', 'An Educa...",2010
12,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2011/1,"[""The King's Speech"", '127 Hours', 'Black Swan...",2011
13,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2012/1,"['The Artist', 'Extremely Loud & Incredibly Cl...",2012
14,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2014/1,"['12 Years a Slave', 'American Hustle', 'Capta...",2014
15,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2013/1,"['Argo', 'Amour', 'Beasts of the Southern Wild...",2013
16,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2016/1,"['Spotlight', 'Bridge of Spies', 'Brooklyn', '...",2016
17,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2021/1,"['Nomadland', 'Judas and the Black Messiah', '...",2021
18,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2023/1,"['Everything Everywhere All at Once', 'All Qui...",2023
19,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2018/1,"['The Shape of Water', 'Call Me by Your Name',...",2018
20,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2017/1,"['Moonlight', 'Arrival', 'Fences', 'Hacksaw Ri...",2017
21,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2019/1,"['Green Book', 'A Star Is Born', 'BlacKkKlansm...",2019
22,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2022/1,"['CODA', 'Belfast', ""Don't Look Up"", 'Drive My...",2022
23,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2020/1,"['Parasite', '1917', 'Ford v Ferrari', 'Jojo R...",2020
24,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2024/1,"['Oppenheimer', 'American Fiction', 'Anatomy o...",2024

In [9]:
dsldjmazd

NameError: name 'dsldjmazd' is not defined

In [ ]:
# Supprimer les crochets "[" et "]" des colonnes categories et winners
oscars['categories'] = oscars['categories'].str.replace(r"[", "").str.replace(r"'", "")
oscars['winners'] = oscars['winners'].str.replace(r"[", "").str.replace(r"'", "")
# Nettoyage des chaînes en supprimant les guillemets simples et les espaces autour des chaînes
oscars['categories'] = oscars['categories'].str.strip("'").str.strip()
oscars['winners'] = oscars['winners'].str.strip("'").str.strip()
# # Diviser les valeurs de chaque colonne en une liste
oscars['category'] = oscars['categories'].str.split(', ')
oscars['winner'] = oscars['winners'].str.split(', ')

In [ ]:
# # Utiliser explode pour transformer chaque élément de la liste en une ligne distincte
oscars = oscars.explode('category')
# oscars = oscars.explode('winner')

In [ ]:
oscars = oscars[['categories', 'winners', 'year']]
oscars

,categories,winners,year
0,"Best Motion Picture of the Year, Best Performa...","Million Dollar Baby, Finding Neverland, Ray, S...",2005
0,"Best Motion Picture of the Year, Best Performa...","Million Dollar Baby, Finding Neverland, Ray, S...",2005
0,"Best Motion Picture of the Year, Best Performa...","Million Dollar Baby, Finding Neverland, Ray, S...",2005
0,"Best Motion Picture of the Year, Best Performa...","Million Dollar Baby, Finding Neverland, Ray, S...",2005
0,"Best Motion Picture of the Year, Best Performa...","Million Dollar Baby, Finding Neverland, Ray, S...",2005
...,...,...,...
24,"Best Motion Picture of the Year, Best Performa...","Oppenheimer, American Fiction, Anatomy of a Fa...",2024
24,"Best Motion Picture of the Year, Best Performa...","Oppenheimer, American Fiction, Anatomy of a Fa...",2024
24,"Best Motion Picture of the Year, Best Performa...","Oppenheimer, American Fiction, Anatomy of a Fa...",2024
24,"Best Motion Picture of the Year, Best Performa...","Oppenheimer, American Fiction, Anatomy of a Fa...",2024
24,"Best Motion Picture of the Year, Best Performa...","Oppenheimer, American Fiction, Anatomy of a Fa...",2024

In [ ]:
# Convertir les valeurs de categories et winners en listes en supprimant les caractères indésirables
oscars['categories'] = oscars['categories'].str.replace("'", "").str.split(", ")
oscars['winners'] = oscars['winners'].str.replace("'", "").str.split(", ")

# Créer une liste pour stocker les nouvelles lignes
new_rows = []

# Parcourir le DataFrame pour chaque ligne
for index, row in oscars.iterrows():
    # Parcourir les valeurs de categories et winners dans la ligne
    for i in range(len(row['categories'])):
        # Créer une nouvelle ligne avec les valeurs séparées
        new_row = {'categories': row['categories'][i], 'winners': row['winners'][i], 'year': row['year']}
        # Ajouter la nouvelle ligne à la liste des nouvelles lignes
        new_rows.append(new_row)

# Créer un nouveau DataFrame à partir de la liste des nouvelles lignes
new_df = pd.DataFrame(new_rows)

# Afficher le nouveau DataFrame
new_df

,categories,winners,year
0,Best Motion Picture of the Year,Million Dollar Baby,2005
1,Best Performance by an Actor in a Leading Role,Finding Neverland,2005
2,Best Performance by an Actress in a Leading Role,Ray,2005
3,Best Performance by an Actor in a Supporting Role,Sideways,2005
4,Best Performance by an Actress in a Supporting...,The Aviator,2005
...,...,...,...
21953,Best Animated Feature Film,Lily Gladstone,2024
21954,Best Animated Short Film,Sandra Hüller,2024
21955,Best Live Action Short Film,Robert Downey Jr.,2024
21956,Best Documentary Short Film,Mark Ruffalo,2024
21957,Best International Feature Film,Robert De Niro,2024

### IMDB TARGET Box Office Weekends