In [1]:
import pandas as pd

### IMDB 2000-2024 movies

Original scraped data

In [2]:
data = pd.read_csv(r'/home/utilisateur/Documents/DEV-IA/projets/BOX/scraping/data/imdb_movies.csv')
data.shape

(11140, 19)

In [3]:
data.columns

Index(['movie_boxoffice', 'movie_budget', 'movie_cast', 'movie_categories',
       'movie_countries', 'movie_director', 'movie_id', 'movie_imdb_metascore',
       'movie_imdb_nb_of_ratings', 'movie_imdb_popularity',
       'movie_imdb_rating', 'movie_length', 'movie_original_title',
       'movie_production_companies', 'movie_synopsis', 'movie_title',
       'movie_url', 'movie_us_boxoffice', 'year'],
      dtype='object')

Keep only data with BoxOffice values

In [4]:
boxoffice = data.copy()
boxoffice = boxoffice.query('movie_boxoffice.isna() == False')
boxoffice.shape

(4611, 19)

In [5]:
boxoffice.sample(1)

,movie_boxoffice,movie_budget,movie_cast,movie_categories,movie_countries,movie_director,movie_id,movie_imdb_metascore,movie_imdb_nb_of_ratings,movie_imdb_popularity,movie_imdb_rating,movie_length,movie_original_title,movie_production_companies,movie_synopsis,movie_title,movie_url,movie_us_boxoffice,year
10826,21966634.0,40000000.0,Kieran Hodgson|Pearl Chanda|Gregory Cox|Harris...,Comedy|Crime|Mystery,United Kingdom|United States,Tom George,tt13640696,60.0,64000.0,2743.0,6.5,98.0,NaN,Searchlight Pictures|DJ Films,"In the West End of 1950s London, plans for a m...",See How They Run,https://www.imdb.com/title/tt13640696/,9586237.0,2022.0

Keep only data with BoxOffice & Budget values

In [6]:
boxoffice = data.copy()
boxoffice = boxoffice.query('movie_boxoffice.isna() == False and movie_budget.isna() == False')
boxoffice.shape

(1733, 19)

### IMDB Upcoming movies (2024-2025)

### IMDB Awards (Oscars, Golden Globes)

Original scraped data

In [7]:
oscars = pd.read_csv(r"/home/utilisateur/Documents/DEV-IA/projets/BOX/scraping/data/imdb_oscars.csv")
oscars

,categories,url,winners,year
0,"'Best Picture', 'Best Actor in a Leading Role'...",https://www.imdb.com/event/ev0000003/2002/1,"['A Beautiful Mind', 'Denzel Washington', 'Hal...",2002
1,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2005/1,"['Million Dollar Baby', 'Jamie Foxx', 'Hilary ...",2005
2,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2007/1,"['The Departed', 'Forest Whitaker', 'Helen Mir...",2007
3,"'Best Actor in a Leading Role', 'Best Actor in...",https://www.imdb.com/event/ev0000003/2001/1,"['Russell Crowe', 'Benicio Del Toro', 'Julia R...",2001
4,"'Best Picture', 'Best Actor in a Leading Role'...",https://www.imdb.com/event/ev0000003/2003/1,"['Chicago', 'Adrien Brody', 'Nicole Kidman', '...",2003
5,"'Best Picture', 'Best Actor in a Leading Role'...",https://www.imdb.com/event/ev0000003/2004/1,['The Lord of the Rings: The Return of the Kin...,2004
6,"'Best Actor in a Leading Role', 'Best Actor in...",https://www.imdb.com/event/ev0000003/2000/1,"['Kevin Spacey', 'Michael Caine', 'Hilary Swan...",2000
7,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2006/1,"['Crash', 'Philip Seymour Hoffman', 'Reese Wit...",2006
8,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2009/1,"['Slumdog Millionaire', 'Sean Penn', 'Kate Win...",2009
9,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2008/1,"['No Country for Old Men', 'Daniel Day-Lewis',...",2008
10,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2010/1,"['The Hurt Locker', 'Jeff Bridges', 'Sandra Bu...",2010
11,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2012/1,"['The Artist', 'Jean Dujardin', 'Meryl Streep'...",2012
12,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2013/1,"['Argo', 'Daniel Day-Lewis', 'Jennifer Lawrenc...",2013
13,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2014/1,"['12 Years a Slave', 'Matthew McConaughey', 'C...",2014
14,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2011/1,"['The Kings Speech', 'Colin Firth', 'Natalie P...",2011
15,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2015/1,['Birdman or (The Unexpected Virtue of Ignoran...,2015
16,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2017/1,"['Moonlight', 'Casey Affleck', 'Emma Stone', '...",2017
17,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2016/1,"['Spotlight', 'Leonardo DiCaprio', 'Brie Larso...",2016
18,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2020/1,"['Parasite', 'Joaquin Phoenix', 'Renée Zellweg...",2020
19,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2018/1,"['The Shape of Water', 'Gary Oldman', 'Frances...",2018
20,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2021/1,"['Nomadland', 'Anthony Hopkins', 'Frances McDo...",2021
21,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2022/1,"['CODA', 'Will Smith', 'Jessica Chastain', 'Tr...",2022
22,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2019/1,"['Green Book', 'Rami Malek', 'Olivia Colman', ...",2019
23,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2023/1,"['Everything Everywhere All at Once', 'Brendan...",2023
24,"'Best Motion Picture of the Year', 'Best Perfo...",https://www.imdb.com/event/ev0000003/2024/1,"['Oppenheimer', 'Cillian Murphy', 'Emma Stone'...",2024

In [8]:
# Supprimer les crochets "[" et "]" des colonnes categories et winners
oscars['categories'] = oscars['categories'].str.replace(r"[", "").str.replace(r"'", "")
oscars['winners'] = oscars['winners'].str.replace(r"[", "").str.replace(r"'", "")
# Nettoyage des chaînes en supprimant les guillemets simples et les espaces autour des chaînes
oscars['categories'] = oscars['categories'].str.strip("'").str.strip()
oscars['winners'] = oscars['winners'].str.strip("'").str.strip()
# # Diviser les valeurs de chaque colonne en une liste
oscars['category'] = oscars['categories'].str.split(', ')
oscars['winner'] = oscars['winners'].str.split(', ')

In [9]:
data_list = [(cat, win, year) for cat_list, win_list, year in zip(oscars['category'], oscars['winner'], oscars['year']) for cat, win in zip(cat_list, win_list)]
oscars_data = pd.DataFrame(data_list, columns=['category', 'winner', 'year'])
oscars_data.to_csv('oscars.csv', index=False)
oscars_data

,category,winner,year
0,Best Picture,A Beautiful Mind,2002
1,Best Actor in a Leading Role,Denzel Washington,2002
2,Best Actress in a Leading Role,Halle Berry,2002
3,Best Actor in a Supporting Role,Jim Broadbent,2002
4,Best Actress in a Supporting Role,Jennifer Connelly,2002
...,...,...,...
694,Best Animated Feature Film,The Boy and the Heron,2024
695,Best Animated Short Film,War Is Over!,2024
696,Best Live Action Short Film,The Wonderful Story of Henry Sugar,2024
697,Best Documentary Short Film,The Last Repair Shop,2024
698,Best International Feature Film,The Zone of Interest,2024

### IMDB TARGET Box Office Weekends

Tests merge Allocine & IMDB

#### PB du casting pour les films d'Animation

In [31]:
data.sample(2)

,movie_boxoffice,movie_budget,movie_cast,movie_categories,movie_countries,movie_director,movie_id,movie_imdb_metascore,movie_imdb_nb_of_ratings,movie_imdb_popularity,movie_imdb_rating,movie_length,movie_original_title,movie_production_companies,movie_synopsis,movie_title,movie_url,movie_us_boxoffice,year
1924,NaN,NaN,Ophélie Koering,NaN,France,NaN,tt6482694,NaN,NaN,NaN,NaN,46.0,NaN,NaN,Twenty-one actresses are telling the audience ...,Partir +,https://m.imdb.com/title/tt6482694/,NaN,2006.0
9336,42958.0,NaN,Camille Razat|Olivier Barthélémy|Tibo Vandenbo...,Horror|Thriller,France|Belgium,Didier D. Daarwin,tt14471774,NaN,455.0,NaN,4.3,100.0,NaN,Comic Strip Production|La Company|Alba Films,"Follows Louise, a young psychiatric who starts...",Mastemah,https://www.imdb.com/title/tt14471774/,NaN,2022.0